{% extends 'ESGISGabonMainBundle::backend_base.html.twig' %}

{% block page_title %}
 {{ parent() }}
{% endblock %}

{% block page_content_toolbar %}


{% endblock %}

{% block page_content_container %}
    {% for message in app.session.flashbag.get('success_info') %}
    <div class="alert success mlr-15 mb-20">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    <form action="{{ action_url }}" method="post" {{ form_enctype(form) }}>
        <div class="col-md-9 mb-20">
            <div id="ent-post">
                {# Les erreurs générales du formulaire. #}
                {{ form_errors(form) }}
                <div id="ent-post-title">
                    {{ form_widget(form.postTitle, {'attr': {'placeholder': 'Saisissez votre titre ici'}}) }}
                </div>
                <div id="ent-post-wysiwyg">
                    {{ form_widget(form.postContent, {'attr': {'id': 'wysiwyg', 'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ent-panel expanded" id="publish-panel">
                <header class="clearfix tiny">
                    <div class="title tiny-title">
                        <h3 class="no-margin">Publier</h3>
                    </div>
                    <div class="actions">
                        <a href="#" class="panel-action-button" data-action="expand" onclick="return false">
                            <i class="material-icons">expand_more</i>
                        </a>
                    </div>
                </header>
                <div class="content" id="ent-post-status">
                    <div class="form-group">
                        {{ form_label(form.postType, 'Etat') }}
                        {{ form_widget(form.postStatus, {'attr': {'class': 'form-control rounded-2'}}) }}
                    </div>
                </div>
                <footer class="clearfix">
                    <button class="btn btn-sm rounded-2 block" id="publish-button" type="submit">Enregistrer le brouillon</button>
                </footer>
            </div>
            <div class="ent-panel expanded" id="featured-media">
                <header class="clearfix tiny">
                    <div class="title tiny-title">
                        <h3 class="no-margin">Media à la une</h3>
                    </div>
                    <div class="actions">
                        <a href="#" class="panel-action-button" data-action="expand" onclick="return false">
                            <i class="material-icons">expand_more</i>
                        </a>
                    </div>
                </header>
                <div class="content" id="ent-post-featured-media">
                    <div class="form-group" id="testic">
                        {{ form_label(form.cover, 'Media') }}
                        {{ form_widget(form.cover) }}
                    </div>
                    <button class="btn bg-blue btn-sm block" type="button" id="testBtn">Upload</button>
                    {% if form.cover.vars.download_uri is defined %}
                    <img class="img-responsive" src="{{ form.cover.vars.download_uri }}" alt="">
                    {% endif %}
                    <input type="file" id="testFile" class="hide">
                </div>
            </div>
            <div class="ent-panel expanded" id="post-type-panel">
                <header class="clearfix tiny">
                    <div class="title tiny-title">
                        <h3 class="no-margin">Format</h3>
                    </div>
                    <div class="actions">
                        <a href="#" class="panel-action-button" data-action="expand" onclick="return false">
                            <i class="material-icons">expand_more</i>
                        </a>
                    </div>
                </header>
                <div class="content" id="ent-post-type">
                    {% set postType_id = form.postType.vars.id %}
                    {% set postType_fullName = form.postType.vars.full_name %}
                    <ul class="unstyled" id="{{ postType_id }}" rel="{{ postType_fullName }}">
                        {% for choice in form.postType %}
                            <li>
                                <label for="{{ postType_id }}_{{ loop.index }}" class="form-control">
                                    {{ form_widget(choice) }}
                                    {{ choice.vars.label }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="ent-panel expanded" id="post-categories-panel">
                <header class="clearfix tiny">
                    <div class="title tiny-title">
                        <h3 class="no-margin">Catégories</h3>
                    </div>
                    <div class="actions">
                        <a href="#" class="panel-action-button" data-action="expand" onclick="return false">
                            <i class="material-icons">expand_more</i>
                        </a>
                    </div>
                </header>
                <div class="content" id="ent-post-categories">
                    {% set categories_id = form.categories.vars.id %}
                    {% set categories_fullName = form.categories.vars.full_name %}
                    <ul class="unstyled" id="{{ categories_id }}" rel="{{ categories_fullName }}">
                        {% for choice in form.categories %}
                            <li>
                                <label for="{{ categories_id }}_{{ choice.vars.value }}" class="form-control">
                                    {{ form_widget(choice) }}
                                    {{ choice.vars.label }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="ent-panel expanded" id="post-keywords-panel">
                <header class="clearfix tiny">
                    <div class="title tiny-title">
                        <h3 class="no-margin">Mots-clés</h3>
                    </div>
                    <div class="actions">
                        <a href="#" class="panel-action-button" data-action="expand" onclick="return false">
                            <i class="material-icons">expand_more</i>
                        </a>
                    </div>
                </header>
                <div class="content" id="ent-post-keywords">
                    <div class="form-group">
                        {{ form_widget(form.keywords, {'attr': {'class': 'form-control', 'data-role': 'tagsinput'}}) }}
                    </div>
                </div>
            </div>
        </div>

        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var apiGetPosts = "{{ path('api_get_posts') }}";
        var basePost = "{{ path('esgis_gabon_admin_all_posts') }}"
    </script>
    {{ parent() }}
    <script type="text/javascript">
        $("#testBtn").click(function (e) {
            $fileInput = $('#testFile');
            var $testic = $('#testic').find('input');
            $fileInput.click();
            
            $fileInput.on('change', function (e) {
                var file = this.files[0];

                var data = new FormData();
                data.append('file', file);

                $.ajax({
                    type: 'POST',
                    url: "{{ path('esgis_gabon_media_upload_image') }}",
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function(response){
//                        alert('id: '+ response.id +'\n url: '+ response.fileName);
                        console.log("resp ",response);
                        console.log("id ", response.id);
                        $testic.val(response.id);
                        console.log('testic ', $testic.val())
                    },
                    error: function (response) {
                        alert('error: '+ response);
                        console.log('error: ', response);
                    }
                });
            });
        })
    </script>
{% endblock %}