{% extends 'ESGISGabonMainBundle::backend_base.html.twig' %}

{% block page_title %}
    {{ parent() }}
    {% if action_type == "update" %}
        <a href="{{ path('esgis_gabon_admin_keywords') }}" class="btn btn-x-sm rounded-4 ml-20 bg-golden">Ajouter un mot-clé</a>
    {% endif %}
{% endblock %}

{% block page_content_toolbar %}

{% endblock %}

{% block page_content_container %}
    <div id="alert-wrapper">
    {% for message in app.session.flashbag.get('success_info') %}
        <div class="alert success mlr-15 mb-20">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('error_info') %}
        <div class="alert danger mlr-15 mb-20">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('warning_info') %}
        <div class="alert warning mlr-15 mb-20">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    </div>
    <div class="col-md-4">
        <h3 class="mb-20">{{ form_title }}</h3>
        {# Les erreurs générales du formulaire. #}
        <div id="form-error-wrapper">
            {{ form_errors(form) }}
        </div>
        <form id="keyword-form" rel="{{ action_type }}" action="{{ action_url }}" method="post" {{ form_enctype(form) }}>
            <div class="form-group mb-30">
                {{ form_label(form.name, 'Nom') }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                <small>Ce nom sera utilisé un peu partout sur le site.</small>
            </div>

            <div class="form-group">
                {{ form_label(form.desc, 'Description') }}
                {{ form_widget(form.desc, {'attr': {'class': 'form-control'}}) }}
                <small>La description ne sera pas très utilisée, mais pourra être utile dans l'avenir. Ceci est totalement facultatif.</small>
            </div>
            <hr>
            <div class="form-group mt-20">
                <button class="btn btn-sm bg-blue" type="submit" id="keyword-submit">
                    {{ form_title }}
                    <span class="loader squares hide"></span>
                </button>
            </div>

            {{ form_rest(form) }}
        </form>
    </div>
    <div class="col-md-8">
        <form action="{{ path('esgis_gabon_admin_delete_keywords') }}" method="post" id="ent-keyword-table">
            <div class="table-actions clearfix">
                <div class="pull-left">
                    <select name="table_actions[] input-sync" class="form-control-inline table-action" data-sync="select" data-sync-value="table_actions">
                        <option value="" selected="selected">Actions groupées</option>
                        <option value="delete">Supprimer</option>
                    </select>
                    <button class="btn btn-sm" type="submit">Appliquer</button>
                </div>
            </div>
            <div id="ent-keywords-table-wrapper" class="ent-panel expanded no-padding no-margin-bottom">
                {{ render(controller("ESGISGabonPostBundle:Backend:loadKeywords")) }}
            </div>
            <div class="table-actions clearfix">
                <div class="pull-left">
                    <select name="table_actions[] input-sync" class="form-control-inline" data-sync="select" data-sync-value="table_actions">
                        <option value="" selected="selected">Actions groupées</option>
                        <option value="delete">Supprimer</option>
                    </select>
                    <button class="btn btn-sm" type="submit">Appliquer</button>
                </div>
            </div>
        </form>

        <div id="ent-keywords-notice" class="notice">
            <p>
                <strong>À savoir: </strong>supprimer un mot-clé ne supprime pas les articles à qui il est relié.
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var loadKeywordsTableUrl = "{{ path('esgis_gabon_admin_load_keywords') }}";
        var hiddenInputName = 'keywords_id_list';
    </script>
    {{ parent() }}
    <script type="text/javascript">
        var $entKeywordForm = $("#keyword-form"),
                $entKeywordTableWrapper = $("#ent-keywords-table-wrapper");

        if($entKeywordForm.length){
            var $btnSubmit = $entKeywordForm.find('button#keyword-submit');

            $btnSubmit.click(function (e) {
                if($(this).prop('disabled')){
                    e.preventDefault();
                    return false;
                }
            });
            $entKeywordForm.submit(function (e) {

                $btnSubmit.disable();
                $loader = $btnSubmit.find('.loader').removeClass('hide');
                var data = $(this).serialize();

                $.ajax({
                    url: $(this).attr('action'),
                    data: data,
                    accepts: 'json',
                    method: 'POST',
                    success: function (response, status) {
                        if($entKeywordForm.attr('rel') === "create")
                            $entKeywordForm[0].reset();

                        if(response.result === 'success'){
                            loadTable($entKeywordTableWrapper, loadKeywordsTableUrl);
                        }
                        if(response.result === 'error'){
                            showFormError($('#form-error-wrapper'), response.message);
                        }

                        $loader.addClass('hide');
                        $btnSubmit.disable(false);


                    },
                    error: function (xhr, status) {
                        $loader.addClass('hide');
                        $btnSubmit.disable(false);

                        console.log(xhr.responseText);
                        console.log(status);
                    }
                });

                e.preventDefault();
                return false;
            })
        }

        $('#ent-keywords-table').dataTable({
            hiddenInputName: hiddenInputName,
            hiddenInputCallback: function ($hiddenInput) {
                var $entKeywordTableActionForm = $("form#ent-keyword-table");

                if($entKeywordTableActionForm.length){

                    $entKeywordTableActionForm.submit(function (e) {
                        if('' == $hiddenInput.val() || '' == $(this).find('.table-action').val()){
                            alert("Vous n'avez sélectionné aucune action ou coché aucune catégorie.");

                            console.log("table-action", $(this).find('.table-action').val());
                            console.log("hidden", $hiddenInput.val());

                            e.preventDefault();
                            return false;
                        }
                    })
                }
            }
        });

    </script>
{% endblock %}